<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome to Spain
    <h1>{{country.name.common}}</h1>
    <img src="{{country.flags.png}}" alt="Spain Flag">
    {{> card}}
    {{> card}}
    {{> card}}
    {{> card}}
    {{> card}}
    {{> card}}
</body>
</html>